<article class="my-3" id="figures">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Figures</h3>
        <!--                <a class="d-flex align-items-center" href="{{< docsref "/content/figures" >}}">Documentation</a>-->
    </div>

    <div>
        <!--{{< example show_markup="false" >}}-->
        <figure class="figure">
            <!--                    {{< placeholder width="400" height="300" class="figure-img img-fluid rounded" >}}-->
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <!--{{< /example >}}-->
    </div>
</article>
