<div class="text-center mb-3">
    <h4>Preferred Communications Method</h4>
</div>

<div class="row mb-3">
    <div class="col col-md-4 offset-md-4">
        <div class="list-group list-group-flush mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="preferEmail" value="" checked>
                <div>
                    Email
                    <small class="d-block text-muted">email@email.com</small>
                </div>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="preferTextMessage" value="" disabled>
                <div class="text-muted">
                    Text Message
                    <small class="d-block text-muted">N/A</small>
                </div>
            </label>
            <label class="list-group-item d-flex gap-2 bg-light">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="preferCellPhone" value="" disabled>
                <div class="text-muted">
                    Cell Phone
                    <small class="d-block text-muted">N/A</small>
                </div>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="preferHomePhone" value="">
                <div>
                    Home Phone
                    <small class="d-block text-muted">123-852-7418</small>
                </div>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="preferDayPhone" value="">
                <div>
                    Day Phone
                    <small class="d-block text-muted">123-852-7418</small>
                </div>
            </label>

        </div>
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="radio" name="exampleRadios" id="preferEmail" value="option1" checked>-->
<!--            <label class="form-check-label" for="preferEmail">-->
<!--                Email-->
<!--            </label>-->
<!--        </div>-->
<!--        <hr />-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="radio" name="exampleRadios" id="preferHomePhone" value="option2">-->
<!--            <label class="form-check-label" for="preferHomePhone">-->
<!--                Home Phone-->
<!--            </label>-->
<!--        </div>-->
<!--        <hr />-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="radio" name="exampleRadios" id="preferDayPhone" value="option3" disabled>-->
<!--            <label class="form-check-label" for="preferDayPhone">-->
<!--                Day Phone-->
<!--            </label>-->
<!--        </div>-->
<!--        <hr />-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="radio" name="exampleRadios" id="preferCellPhone" value="option3" disabled>-->
<!--            <label class="form-check-label" for="preferCellPhone">-->
<!--                Cell Phone-->
<!--            </label>-->
<!--        </div>-->
<!--        <hr />-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="radio" name="exampleRadios" id="preferTextMessage" value="option3" disabled>-->
<!--            <label class="form-check-label" for="preferTextMessage">-->
<!--                Text Message-->
<!--            </label>-->
<!--        </div>-->
    </div>
</div>
