$green: #548B59;
$blue: #2F4858;
$yellow: #F0BE4E;
$red: #D3555B;
$dark-green: #2A5433;
$slate-grey: #505B5F;
$light-green: #7CA87F;
$dark-blue: #40718F;
$muted-blue: #929EA5;

$black: #262626;
$white: #FBFBFB;
$light: #FBFBFB;
$dark: #262626;

$primary: $green;
$secondary: $blue;
$info: $muted-blue;

$headings-color: $black;

$warning: $yellow;
$danger: $red;
$success: $green;
