<div class="text-center mb-3">
    <h4>Verify Primary Care Provider</h4>
</div>

<div class="p-5 mb-4 shadow-lg rounded-3">
    <h3 class="fw-bolder">Dr. Steven Strange</h3>
    <hr class="my-3" />
    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-secondary">Change Primary Care Provider</button>
    </div>
</div>

<!--<div class="row mb-3">-->
<!--    <div class="col d-flex justify-content-center">-->
<!--        <div class="alert alert-secondary" role="alert">-->
<!--            Dr. Steven Strange-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="row mb-3">-->
<!--    <div class="col d-flex justify-content-center">-->
<!--        <button class="btn btn-outline-secondary">Change Primary Care Provider</button>-->
<!--    </div>-->
<!--</div>-->
