<h5>Patient Search</h5>

<div class="row mb-3">
    <div class="col">
        <div class="form-floating">
            <input class="form-control" type="text" placeholder="12345" />
            <label>MRN</label>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="form-floating">
            <input class="form-control" type="text" placeholder="12345" />
            <label>Person #</label>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="form-floating">
            <input class="form-control" type="text" placeholder="12345" />
            <label>First Name</label>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="form-floating">
            <input class="form-control" type="text" placeholder="12345" />
            <label>Last Name</label>
        </div>
    </div>
</div>

<ng-container *ngIf="communicationMethod.value === 'email-text'">
    <hr />
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <input class="form-control" type="text" placeholder="12345" />
                <label>Appts in the next # Days</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <input class="form-control" type="text" placeholder="12345" />
                <label>Limit to Appt Type</label>
            </div>
        </div>
    </div>
</ng-container>

<div class="row mb-3">
    <div class="col text-start">
        <div class="form-check" *ngFor="let method of communicationOptions">
            <input class="form-check-input"
                   type="radio"
                   [name]="method.option"
                   [id]="'method-' + method.option"
                   [formControl]="communicationMethod"
                   [value]="method.option" />
            <label class="form-check-label" [attr.for]="'method-' + method.option">{{method.label}}</label>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" (click)="getSomeUsers()">Search</button>
        </div>
<!--        <button type="button" class="btn btn-primary" [routerLink]="['patient-search']">Primary</button>-->
    </div>
</div>

<ng-container *ngIf="showResults">
    <ul class="list-group">
        <li *ngFor="let result of searchResults" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{result.name.first}} {{result.name.last}}</div>
                Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
        </li>
    </ul>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">MRN</th>
            <th scope="col">Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Allowed</th>
            <th scope="col">Language</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of searchResults" (click)="selectResult(result.id)" [ngClass]="{'table-active': selectedPatient === result.id}">
            <th scope="row">Default</th>
            <td>{{result.mrnNo}}</td>
            <td>{{result.name.first}}</td>
            <td>{{result.dob.date | date}}</td>
            <td>{{result.dob.age}}</td>
            <td>{{result.email}}</td>
            <td>{{result.phone}}</td>
            <td>{{result.allowed}}</td>
            <td>{{result.language}}</td>
        </tr>
        </tbody>
    </table>
</ng-container>

<div class="row mb-5" *ngIf="selectedPatient">
    <div class="col">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" (click)="goToFormsSelection()">Select Forms</button>
        </div>
    </div>
</div>
