<div class="row mb-3">
    <div class="col d-flex justify-content-center">
        <h4>Secondary Insurance Card Upload</h4>
    </div>
</div>

<div class="row mb-3 justify-content-center">
    <div class="col-12 col-md-11">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">Upload image of insurance card with the below information:</h6>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 col-md-4" *ngFor="let point of neededInfo">
                        <strong>{{point.label}}:</strong> {{point.info}}
                    </div>
                </div>
                <!--                <ul class="list-unstyled">-->
                <!--                    <li *ngFor="let point of neededInfo"><strong>{{point.label}}:</strong> {{point.info}}</li>-->
                <!--                </ul>-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col border-end bg-gradient bg-light p-5">
        <div class="card mb-3 text-center">
            <div class="card-body">
                <h5 class="card-title mt-3">Front</h5>
                <h6 class="card-subtitle mb-3 text-muted">acceptable file types: .jpg, .bmp, .png, .gif, .jpeg</h6>
                <div class="w-75 mx-auto mb-3">
                    <pm-file-upload-preview [imageUrl]="'assets/images/683106.jpg'"></pm-file-upload-preview>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-primary">Browse or Take Picture</button>
            </div>
        </div>
    </div>
    <div class="col bg-gradient p-5">
        <div class="card mb-3 text-center">
            <div class="card-body">
                <h5 class="card-title mt-3">Back</h5>
                <h6 class="card-subtitle mb-3 text-muted">acceptable file types: .jpg, .bmp, .png, .gif, .jpeg</h6>
                <div class="w-75 mx-auto mb-3">
                    <pm-file-upload-preview></pm-file-upload-preview>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-primary">Browse or Take Picture</button>
            </div>
        </div>
    </div>
</div>
