<div class="row mb-3">
    <div class="col text-center">
        <h4>Verify/Update Address and Contact Information</h4>
    </div>
</div>

<div class="row mb-3">
    <div class="col text-center">
        <h5>Update any information that has changed since your last visit.</h5>
<!--        <p>If your address is outside of the United States, please select FC (Foreign Country) from the state list.</p>-->
    </div>
</div>

<div class="row g-4">
    <div class="col-12 col-md-6">
        <div class="row g-3">
            <div class="col-12">
                <label for="Address" class="form-label">Address</label>
                <input id="Address" type="text" class="form-control" />
            </div>
            <div class="col-12">
                <label for="Address-2" class="form-label">Address 2</label>
                <input id="Address-2" type="text" class="form-control" />
            </div>
            <div class="col-12">
                <label for="City" class="form-label">City</label>
                <input id="City" type="text" class="form-control" />
            </div>
            <div class="col-12">
                <label for="State" class="form-label">State</label>
                <select id="State" class="form-select" aria-label="Default select example">
                    <option selected>Select State</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="form-text">Select FC (Foreign Country) if outside of the United States</div>
            </div>
            <div class="col-12">
                <label for="Postal" class="form-label">Postal</label>
                <input id="Postal" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row g-3">
            <div class="col-12">
                <label for="Home-Phone" class="form-label">Home Phone</label>
                <input id="Home-Phone" type="text" class="form-control" />
            </div>
            <div class="col-12">
                <label for="Day-Phone" class="form-label">Day Phone</label>
                <input id="Day-Phone" type="text" class="form-control" />
            </div>
            <div class="col-12">
                <label for="Cell-Phone" class="form-label">Cell Phone</label>
                <input id="Cell-Phone" type="text" class="form-control" />
            </div>
            <div class="col-12">
                <label for="Email" class="form-label">Email</label>
                <input id="Email" type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
<!--    <div class="col-12 col-md-6">-->
<!--        <div class="mb-3">-->
<!--            <label for="Address" class="form-label">Address</label>-->
<!--            <input id="Address" type="text" class="form-control" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="Address-2" class="form-label">Address 2</label>-->
<!--            <input id="Address-2" type="text" class="form-control" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="City" class="form-label">City</label>-->
<!--            <input id="City" type="text" class="form-control" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="State" class="form-label">State</label>-->
<!--            <select id="State" class="form-select" aria-label="Default select example">-->
<!--                <option selected>Open this select menu</option>-->
<!--                <option value="1">One</option>-->
<!--                <option value="2">Two</option>-->
<!--                <option value="3">Three</option>-->
<!--            </select>-->
<!--&lt;!&ndash;            <input id="State" type="text" class="form-control" />&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="Postal" class="form-label">Postal</label>-->
<!--            <input id="Postal" type="text" class="form-control" />-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-6">-->
<!--        <div class="mb-3">-->
<!--            <label for="Home-Phone" class="form-label">Home Phone</label>-->
<!--            <input id="Home-Phone" type="text" class="form-control" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="Day-Phone" class="form-label">Day Phone</label>-->
<!--            <input id="Day-Phone" type="text" class="form-control" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="Cell-Phone" class="form-label">Cell Phone</label>-->
<!--            <input id="Cell-Phone" type="text" class="form-control" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="Email" class="form-label">Email</label>-->
<!--            <input id="Email" type="text" class="form-control" />-->
<!--        </div>-->
<!--    </div>-->
</div>
