<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col text-center">
        <p><strong>Please select your Language</strong></p>
    </div>
</div>
<div class="row mb-5 justify-content-center">
    <div class="col col-md-4">
        <select class="form-select" aria-label="Default select example">
            <option selected>Select language</option>
            <option value="1" selected>English</option>
            <option value="2">Spanish</option>
            <option value="3">German</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p><strong>Please enter your date of birth (mm/dd/yy)</strong></p>
    </div>
</div>
<div class="row mb-3 justify-content-center">
    <div class="col col-md-4">
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="06/15/82">
        </div>
    </div>
</div>

<div class="d-flex justify-content-center row mb-3">
    <div class="col col-md-8">
        <hr />
    </div>
</div>

<div class="d-flex justify-content-center row">
    <div class="col-12 col-md-10 col-lg-6">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Privacy Notice</h4>
            <p>This website will timeout after 10 minutes of inactivity. If a timeout occurs, you may restart your Check-In by clicking on the “Resume” link on your device.</p>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
