<div class="text-center">
    <h4>Enter New Insurance Information</h4>
    <p>Enter as much information as possible, leave blank any fields that don't apply.</p>
</div>

<div class="mb-3 row justify-content-center">
    <div class="col col-md-8 col-lg-6 col-xl-4">
        <div class="mb-3">
            <label class="form-label" for="Insurance Carrier Name">Insurance Carrier Name</label>
            <input type="text" class="form-control" id="Insurance Carrier Name" placeholder="Blue Cross" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="Policy/Member ID">Policy/Member ID</label>
            <input type="text" class="form-control" id="Policy/Member ID" placeholder="123456789" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="Group Number">Group Number</label>
            <input type="text" class="form-control" id="Group Number" placeholder="ABC123" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="Effective Date">Effective Date</label>
            <input type="text" class="form-control" id="Effective Date" placeholder="01/01/2021" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="Other Info">Other Info</label>
            <input type="text" class="form-control" id="Other Info" placeholder="" />
        </div>
    </div>
</div>
