<div class="row">
    <div class="col d-flex justify-content-center">
        <h4>Verify Insurance Coverage</h4>
    </div>
</div>

<div class="d-flex justify-content-center row">
    <div class="col-12 col-md-11 col-lg-10">
        <table class="table table-striped">
            <thead>
            <tr class="row">
                <th class="col" scope="col">Coverage</th>
                <th class="col" scope="col">Plan</th>
                <th class="col" scope="col">Insurance Card</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row">
                <td class="col">Primary</td>
                <td class="col">
                    Shaggy Rogers<br>
                    Anthem PPO<br>
                    Plan #767<br>
                    Group: ABC098<br>
                    Group #098765
                </td>
                <td class="col">
                    <img src="assets/images/t-rex-and-jeeps.jpg" class="img-fluid" />
                </td>
            </tr>
            <tr class="row">
                <td class="col">Secondary</td>
                <td class="col">
                    Shaggy Rogers<br>
                    Aetna<br>
                    Policy: 3221<br>
                    Plan #1233<br>
                    Group #963852
                </td>
                <td class="col">
                    <img src="assets/images/669177.png" class="img-fluid" />
                </td>
            </tr>
            <tr class="row">
                <td class="col">Tertiary</td>
                <td class="col">
                    Shaggy Rogers<br>
                    Delta Dental<br>
                    Policy: 789456<br>
                    Plan: #33991<br>
                    Group #741852
                </td>
                <td class="col">
                    <img src="assets/images/Photo%20by%20Luca%20Bravo%20(ii5JY_46xH0).jpg" class="img-fluid" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<div class="row d-flex justify-content-center">-->
<!--    <div class="col-12 col-md-10 col-lg-6">-->
<!--        <div class="alert alert-info" role="alert">-->
<!--            <p>If your medical insurance has changed and/or you have not provided FEI with my insurance information before, hit "My insurance has changed". If your medical insurance information has not changed since your last visit with FEI, hit "Next".</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="d-flex justify-content-center row my-5">
    <div class="col-12 col-md-8 col-lg-3">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-info" type="button" [routerLink]="['../new-insurance']">My Insurance has changed</button>
        </div>
    </div>
</div>
