<div class="text-center">
    <h4>Select New Pharmacy</h4>
    <p>Start by entering your pharmacy city OR zip code, then type or select your pharmacy name.<br />City and pharmacy lists will populate as you type.</p>
</div>

<div class="mb-3 row justify-content-center">
    <div class="col col-md-6">
        <div class="row g-3">
            <div class="col-12">
                <label for="city" class="form-label">City</label>
                <input class="form-control" list="datalistOptions" id="city" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="Dallas">
                    <option value="San Francisco">
                    <option value="New York">
                    <option value="Seattle">
                    <option value="Los Angeles">
                    <option value="Chicago">
                </datalist>
            </div>
            <div class="col-12">
                <label for="zipCode" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="zipCode" placeholder="12345">
            </div>
            <div class="col-12">
                <label for="pharmacy" class="form-label">Pharmacy Name</label>
                <input type="text" class="form-control" id="pharmacy" placeholder="Walgreens">
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col d-flex justify-content-center">
        <button class="btn btn-secondary" disabled>Pharmacy not found</button>
    </div>
</div>

<div class="row mb-3">
    <div class="col d-flex justify-content-center">
        <button class="btn btn-info">I have no Primary Pharmacy</button>
    </div>
</div>
