<div class="text-center">
    <h4>Emergency Contact Information</h4>
    <p>Please add or update (if needed) the emergency contact information for the patient.</p>
</div>

<div class="mb-3 row">
    <div class="col col-md-4 offset-md-4">
        <div class="mb-3">
            <label class="form-label" for="First Name">First Name</label>
            <input type="text" class="form-control" id="First Name" placeholder="Tony"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Last Name">Last Name</label>
            <input type="text" class="form-control" id="Last Name" placeholder="Stark"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Relationship">Relationship</label>
            <select class="form-select" aria-label="emergency-relationship" id="Relationship">
                <option selected>Select relationship</option>
                <option value="1">Husband</option>
                <option value="2">Wife</option>
                <option value="3">Mother</option>
                <option value="4">Father</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Home Phone">Home Phone</label>
            <input type="text" class="form-control" id="Home Phone" placeholder="123-456-7890"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Day Phone">Day Phone</label>
            <input type="text" class="form-control" id="Day Phone" placeholder="123-456-7890"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Cell Phone">Cell Phone</label>
            <input type="text" class="form-control" id="Cell Phone" placeholder="123-456-7890"/>
        </div>
    </div>
</div>
