<div class="sticky-top float-start p-3 bg-dark bg-opacity-25 min-vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <i class="bi bi-palette2 me-3"></i>
        <span class="fs-4 text-light">Fluffy Broccoli</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" *ngFor="let link of links">
            <a [routerLink]="link.url" [routerLinkActive]="'active'" class="nav-link" aria-current="page">
                <i *ngIf="link.icon" class="bi me-2" [ngClass]="link.icon"></i>
                {{link.label}}
            </a>
        </li>
    </ul>
</div>
